[bumpversion]
current_version = 0.1.2
commit = True
tag = True

[bumpversion:file:setup.py]

[bumpversion:file:espresso/__init__.py]

[bumpversion:file:espresso/espresso.py]

[bumpversion:file:espresso/siteconfig.py]

[bumpversion:file:espresso/subdirs.py]

[bumpversion:file:espresso/utils.py]

[bumpversion:file:espresso/vibespresso.py]

[bumpversion:file:espresso/multiespresso.py]

[bumpversion:file:docs/source/conf.py]

